<html>

<body>
    <form action="/act" method="POST">
        <h2>Register Here</h2>
        <p>Name: &nbsp;&nbsp;<input type="text" name="name" placeholder="enter student name" /></p>
        <p>
            Roll: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="roll" placeholder="roll no." />
        </p>
        <p><input type="submit" value="Submit" /></p>
        <p><a href="/display">User List </a></p>
        <p><a href="/update">Update Data</a></p>
        <p><a href="/delete">Delete Data</a></p>
    </form>
</body>

</html>